<p id="notice"><%= notice %></p>

<p>
  <strong>Game format:</strong>
  <%= @game.game_format %>
</p>

<p>
  <strong>Location:</strong>
  <%= @game.location %>
</p>

<p>
  <strong>More info:</strong>
  <%= @game.more_info %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
<%= link_to 'HomePahe', root_path%>
